.slider li:not(:first-child) {
    display: none;
}

#title {
    margin-bottom: 5em;
}

.jumper li {
    font-size: 20px;
    opacity: 0.5;
    margin: 0 2%;
}

.jumper {
    display: flex;
    justify-content: center;
}

.jumper li span {
    cursor: pointer;
}

.left, .right {
    font-size: 7vh;
    cursor: pointer;
}

.left span, .right span {
    margin-top: 25vh;
}

#description p {
    font-size: 24px;
}